body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background: linear-gradient(#B7B5E4, #111D4A);
    color: white;
    text-shadow: 3px 3px #111D4A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bff {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% -110px;
    border: 4px solid #45F0DF;
    box-shadow: 5px 5px #F7717D;
}

#age,
#date {
    background-color: #E55381;
    padding: 8px;
    border-radius: 10px;
}

.gift-section {
    margin-top: 50px;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    background-image: url(gift.png);
    background-size: cover;
    background-position: 50% 50%;
}

#celebrate:hover {
    background-image: url(https://media.giphy.com/media/kyLYXonQYYfwYDIeZl/giphy.gif?cid=790b7611ha46i6vp098eajt0272g5722ltv99vklwt95mx53&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}

#hot:hover {
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaXgxcTc4b2xxenc1dnVra3Z0bXY3OW9hamllbndhOW9qbWp4OTJ3YyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/etOX3h7ApZuDe7Fc5w/giphy.gif);
    background-size: contain;
}

#word:hover {
    background-image: url(https://media.giphy.com/media/XKolXg1SsuApJ6Noui/giphy.gif?cid=ecf05e473ss5g7k66plvjpqnrx56eli2lsjmzcof9ag2gks1&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}

#wet:hover {
    background-image: url(https://media.giphy.com/media/148x4ezZxvpIeA/giphy.gif?cid=ecf05e47a0wxibs7z53k9yuckrz4ztuco9gw594ylhgtbl5a&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}

#cheers:hover {
    background-image: url(https://media.giphy.com/media/l3vR4Fp4U1DhW8bhS/giphy.gif?cid=ecf05e47je4eru83z987np3et5jk3o2rxh3p2k3xnpmduak8&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}